.panelsCarousel {
    background-color: #FFE5D5;
}

.cardBorder {
    border: none;
}

.cardHeaderPadding {
    padding:1rem 0rem 0rem 0rem;
    border:none;
}

h5::after {
    margin-top:10px;
    bottom:-15px;
    left:0;
    width:40px;
    height:6px;
    content:'';
    display:block;
    background-color:#FF4876;
}

.jumbotron {
    background-image:url(../Imagenes/sorpresa1.jpg);
    background-size:cover;

    margin-bottom:0;
}

.fixedContainer {
    background-color: #2b2e34;
    height:inherit;
}

.customLogo {
    margin-top: 10px;
}

.customNews {
    height: 650px;
    max-height:650px;
    background-color: #FFE5D5;
}

.customDiario {
    min-height: 90px;
    background-color: black;
}

.customContainerSearch {
    background-color: #2b2e34;
    height:56px;
}

.customContainerLogo {
    background-color: #25262B;
    min-height: 90px;
    padding-top:10px;

}

.customContainerMenu {
    background-color: #25262B;
    min-height: 60px;
}

.crop-height {
    max-height: 650px;
    overflow: hidden;
}

img.noticias {
    display: block;
    max-width: 100%;
    height: auto !important;
    width: auto\9;
    -ms-interpolation-mode: bicubic;
}

.list-group.list-group-horizontal {
    display: flex;
    flex-direction: row;
}

    .list-group.list-group-horizontal .list-group-item {
        margin-bottom: 0;
        margin-right: 0;
        border-right-width: 0;
    }

        .list-group.list-group-horizontal .list-group-item:first-child {
            border-top-right-radius: 0;
            border-bottom-left-radius: 4px;
        }

        .list-group.list-group-horizontal .list-group-item:last-child {
            border-top-right-radius: 4px;
            border-bottom-left-radius: 0;
            border-right-width: 1px;
        }

.botonColor {
    color: #F7DECE;
    padding: 10px 15px 10px 15px;
    background-color: #25262B;
}

    .botonColor:hover {
        color: #FF6890;
    }
a.current {
    color: #FF6890;
    background-color: #1D1D21;
}

.botonInicioSesion {
    background-color: #FF4876;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 1px;
    float: right;

    min-height: inherit;
}

    .botonInicioSesion:hover {
        background-color: #FF6890;
        color:white;
    }
body {
    background-color: #FFE5D5;
}

.btnBusqueda {
    max-height: 34px;
    border-radius:0;
    border:none;
    margin-top:10px;
    background-color: #212226;
    color:white;
}

.btnMenuBorde {
    border-top: groove;
    border-width: 1px;
    border-color: black;
    background-color: #25262B;
}

.topnav {
    overflow: hidden;
    background-color: #2b2e34;
}

input.busqueda {
    background-color: #212226;
    min-width:inherit;
}

input.busqueda[type=text] {
    border: none;
    border-radius:0;
    margin-top: 10px;
    font-size: 15px;    
}

/*CSS del logo*/
.slogan {
    color:#FFE5D5;
    font-style:oblique;
    bottom:10px;
    margin-left:-20px;
    position:absolute;
}

/*CSS de los modals*/
.modalHeader {
    background-color: #FF4876;
    color:#F7DECE;
    border:none;
}

.modalBody {
    background-color: #212226;
    color: #F7DECE;
}

.modalButton {
    background-color: #FF4876;
    color: #F7DECE;
}

    .modalButton:hover {
        background-color: #FF6890;
        color: white;
    }

input.modalForms {
    background-color: #1D1D21;
    border:none;
}

.modalFooter{
    background-color: #1D1D21;
    border:none;
}

/*CSS del carousel de noticias*/

.carousel-inner-news img{
    display:block;
    width:100%;

}

.carousel-news {
    max-height:650px;
    height:inherit;
    overflow:hidden;
}

.carousel-item-news {
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
    height: 100%;

}

    .carousel-item-news.img {
        visibility:hidden;
    }
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color:#FF4876;
    border-radius:50%;
    width:25px;
    height:25px;
    background-size:90% 100%;
    border: 1px solid black;
}

.carousel-indicators-news li {
    height: 6px;
    background-color: #FF9AB4;
    border: .5px solid #FF4876;
}

.carousel-indicators-news .active {
    background-color: #FF4876;
}

/* CSS del carousel de productos*/

.imagenMinimo{
    width:inherit;
}

    .imagenMinimo img {
        display:inline-block;
        overflow:hidden;
        position:relative;
        height:100%;
        width:auto;
        left:50%;
        top:50%;
        transform:translate(-50%,-50%);
    }


    .imagenMinimo h4 {
        color:black;
        padding-top:10px;
    }
    .imagenMinimo a:hover {
        text-decoration:none;
    }


.productsDiv {
    height:252.5px;
    width:252.5px;
    overflow:hidden;
    border-radius:5%;
    background-color:white;
    text-align:center;
}

.carousel-control-productos {
    position:relative;
    min-height:40px;
    padding-top:10px;


}

.carousel-control-prev-icon-p,
.carousel-control-next-icon-p {
    background-color: #FF4876;
    border-radius: 10%;
    width: 100px;
    height: 25px;
    background-size: 90% 100%;
    border: 1px solid #FF4876;
}

.checked {
    color:#FF4876;
}

.botonAddToCart {
    background-color: #FF4876;
    color: #FFE5D5;
    border-radius: 5px;
}
    .botonAddToCart:hover {
        background-color: #FF9AB4;
        color: white;
        border-radius: 5px;
    }

/*CSS DE LA PARTE INFERIOR DE LA PAGINA*/

.bottonpage {
    background-color:#1D1D21;
    height:350px;
}

.bottonImg {
    margin-top:20px;
}

.bottonList {
    margin-top:40px;
}
    .bottonList li {
        border:none;
        background-color:#1D1D21;
        color:#FFE5D5;
    }
    .bottonList span{
        color:#FF4876;
    }
    .bottonList a {
        color:#FFE5D5;
    }
        .bottonList a:hover {
            text-decoration:none;
        }

.bottonSlogan {
    color:#F7DECE;
    font-style:oblique;
    margin-left:10px;
}

.copyright {
    margin-top:10px;
    color:#FFE5D5;
}

.copyrightDiv {
    border-top: 1px groove;
    border-color: #141414;
    height: 50px;
    background-color: #1D1D21;
}

/*REGISTRO CSS*/
.registroDiv {
    background-color:#2b2e34;
    height:auto;
   border-radius:5%;
   max-width:inherit;
}
.registroDiv h4{
    color:#FF6890;
}
    .registroDiv h6 {
        color:#FF6890;
    }
    .registroDiv label {
        color:#FF6890;
    }

    .registroDiv a {
        background-color:#FF4876;
        color:#FFE5D5;
        margin-bottom:20px;
    }

/*PRODUCTOS CSS*/

.productosDiv {
}

.productosDiv img{
    margin-top:60px;
    margin-bottom:20px;
}

.productosDiv h3{
    margin-top:60px;
    margin-left:20px;
}
    .productosDiv p {
        margin-top: 30px;
        margin-left: 20px;
    }

.cantidad {
    border: none;
    font-weight: bold;
    width: 25px;
    background-color: #FFE5D5;
    margin-left:20px;
    margin-top:20px;
}

.mas {
    color:#2b2e34;
    outline:none;
    border:none;
    background:none;
}

    .mas:hover {
        color:#FF4876;
    }

.menos {
    color: #2b2e34;
    outline: none;
    border: none;
    background: none;
}

    .menos:hover {
        color: #FF4876;
    }